<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catarina's Art Showcase</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      data-auto-a11y="true" defer></script>
    <script defer src="/js/index.js"></script>
    <script defer src="/js/scroll_reset.js"></script>
</head>

<body>
    <div class="header-container">
        <header class="header">
            <label class="header-title">Catarina's Art Showcase</label>
        </header>
        <div class="drop-down-menu-container">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>      
            </svg>
            <nav class="drop-down-menu">
                <ul>
                    <li class="d-menu categories"><a>|> CATEGORIES >|</a>
                        <ul>
                            <li><a href="/sticks">STICK STRUCTURES</a></li>
                            <li><a href="/paintings">PAINTINGS</a></li>
                            <li><a href="/photographs">PHOTOGRAPHS</a></li>
                        </ul>
                    </li>
                    <li class="d-menu about-the-artist"><a href="/about-me">ABOUT ME</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="showcase-area">
        
        <div class="main-image-container">
            <div id="prev-button" href=""></button>
                <img id="prev-arrow" src="/svg/sec-arrows.svg"/>
                <h4>PREVIOUS</h4>
            </div>
            
            <a href="/sticks/big-ben"><img id="main-image" src="/img/sticks/big-ben-1.jpeg"></a>

            <div id="next-button" href="">
                <h4>NEXT</h4>
                <img id="next-arrow" src="/svg/sec-arrows.svg"/>
            </div>
        </div>
        <div class="main-image-title">
            <label id="main-image-title">Big ben sticks structure </label>
            <label id="main-image-desc">This is the tallest structure i've done </label>
        </div>

        <div class="secondary-images-container">

            <div class="image-container">
                <a href="/sticks/big-ben"><img class="image" src="/img/sticks/big-ben-1.jpeg" alt=""></a>
                <div class="opaque-block">
                    <label class="sec-img-txt"></label>
                </div>
            </div>

            <div class="image-container">
                <a href="/sticks/caravel"><img class="image" src="/img/sticks/caravel-4.jpeg" alt=""></a>
                <div class="opaque-block">
                    <label class="sec-img-txt">Detailed pirates caravel</label>
                </div>               
            </div>

            <div class="image-container">
                <a href="/sticks/home"><img class="image" src="/img/sticks/home-3.jpeg" alt=""></a>
                <div class="opaque-block">
                    <label class="sec-img-txt">Image 3</label>
                </div> 
            </div>

            <div class="image-container">
                <a href="/sticks/pandas"><img class="image" src="/img/sticks/pandas-1.jpeg" alt=""></a>
                <div class="opaque-block">
                    <label class="sec-img-txt">Image 4</label>
                </div> 
            </div>

            <div class="image-container">
                <a href="/sticks/phone"><img class="image" src="/img/sticks/phone-1.jpeg" alt=""></a>
                <div class="opaque-block">
                    <label class="sec-img-txt">Image 5</label>
                </div> 
            </div>   
            <div class="image-container">
                <a href="/sticks/piano"><img class="image" src="/img/sticks/piano-1.jpeg" alt=""></a>
                <div class="opaque-block">
                    <label class="sec-img-txt">Image 6</label>
                </div> 
            </div>  
            
            <div class="image-container">
                <a href="/paintings/bts"><img class="image" src="/img/paintings/bts-bonecada-2.jpeg" alt=""></a>
                <div class="opaque-block">
                    <label class="sec-img-txt">Image 7</label>
                </div> 
            </div>  

        </div>
        <label id="click-an-image">Click an image to know more about it</label>
    </section>
    
    <footer class="footer">
        <label class="dev-by">Developed by Diogo Jesus</label>
        <div class="socials">
            <a href="#" class="instagram"><i class="icon fab fa-instagram fa-2x"></i></a>
        </div>
    </footer>

    <div class="particle one">
        <svg height="20" width="20">
            <circle cx="5" cy="5" r="4" fill="white" />
        </svg> 
    </div>
    <div class="particle two">
        <svg height="20" width="20">
            <circle cx="5" cy="5" r="4" fill="white" />
        </svg> 
    </div>
    <div class="particle three">
        <svg height="20" width="20">
            <circle cx="5" cy="5" r="4" fill="white" />
        </svg> 
    </div>
    <div class="particle four">
        <svg height="20" width="20">
            <circle cx="5" cy="5" r="4" fill="white" />
        </svg> 
    </div>
    <div class="particle five">
        <svg height="20" width="20">
            <circle cx="5" cy="5" r="4" fill="white" />
        </svg> 
    </div>
    <div class="particle six">
        <svg height="20" width="20">
            <circle cx="5" cy="5" r="4" fill="white" />
        </svg> 
    </div>
    <div class="particle seven">
        <svg height="20" width="20">
            <circle cx="5" cy="5" r="4" fill="white" />
        </svg> 
    </div>
    <div class="particle eight">
        <svg height="20" width="20">
            <circle cx="5" cy="5" r="4" fill="white" />
        </svg> 
    </div>
    <div class="particle nine">
        <svg height="20" width="20">
            <circle cx="5" cy="5" r="4" fill="white" />
        </svg> 
    </div>

</body>

</html>