:root {
  --backcolor: rgb(216, 25, 25);
}

body {
  background: #e43a15; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e43a15,
    #e65245
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e43a15,
    #e65245
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-page-button a {
  border: 1px solid #e43a15;
  color: #e43a15;
}

.text-info {
  width: 100%;
  margin: 0;
}
